<!DOCTYPE html>
<html lang="{%= lang %}">
<head>
  <meta charset="utf-8">
  <title>{%= title_head %}: {%= subtitle_head %}</title>
  <meta name="author" content="Pablo Tamarit">

  <!-- Hide the toolbar on Safari iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- build:css ../css/o.css -->
  <!-- Basic reveal style -->
  <link rel="stylesheet" href="../bower_components/reveal.js/css/reveal.css">
  <!-- Offline version of some fonts from Google Web Fonts -->
  <link rel="stylesheet" href="../css/google-web-fonts.css">
  <!-- Custom reveal theme -->
  <link rel="stylesheet" href="../css/reveal-theme-camembert.css">
  <!-- Presentation-specific styles -->
  <link rel="stylesheet" href="../css/speech-bubble.css">
  <link rel="stylesheet" href="../css/main.css">
  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="../bower_components/reveal.js/lib/css/zenburn.css">
  <!-- endbuild -->
</head>
<body>

  <nav>
    <p class="speech-bubble">{%= other_lang_speak %}<br><a href="../{%= other_lang %}/" class="other-lang-yes">{%= other_lang_yes %}</a> / <a href="#" class="lang-no">{%= lang_no %}</a></p>
  </nav>

  <div class="reveal">
    <div class="slides">

      <section class="title-slide" data-background="../img/camembert.jpg">
        <div class="container">
          <h1>{%= title %}</h1>
          <h3>{%= subtitle %}</h3>
          <hr>
          <p>
            <small>Pablo Tamarit · <a href="http://twitter.com/ptamarit">@ptamarit</a></small>
          </p>
        </div>
        {%= subtitle_asterisk %}
      </section>

      <section id="about-me">
        <h2>Pablo Tamarit</h2>
        <img alt="Ecole d'Ingénieurs de Genève" src="../img/ecole-d-ingenieurs-de-geneve.jpg" height="300" class="fragment"><img alt="CERN" src="../img/cern.jpg" height="300" class="fragment">
        <ul>
          <li class="fragment">{%= work %}:
            <ul>
              <li class="fragment">Web</li>
              <li class="fragment">Java, Groovy, Clojure</li>
              <li class="fragment">GWT</li>
            </ul>
          </li>
          <li class="fragment">{%= freetime %}:
            <ul>
              <li class="fragment">JavaScript</li>
              <li class="fragment">{%= visual_results %}</li>
            </ul>
          </li>
        </ul>
      </section>

      <section id="roadmap">
        <h2>{%= roadmap %}</h2>
        <ol>
          <li class="fragment">{%= roadmap_data_viz %}</li>
          <li class="fragment">{%= roadmap_web %}</li>
          <li class="fragment">{%= roadmap_d3 %}</li>
        </ol>
      </section>

      <section id="data-viz">
        <h2>{%= title_data_viz %}</h2>
      </section>

      <section id="data">
        <h2>{%= title_data %}</h2>
        <ul>
          <li class="fragment">{%= more_data_produced %}</li>
          <li class="fragment">{%= more_open_data %}<br>
            <img alt="WikiLeaks" src="../img/wikileaks-logo.svg" height="200" class="fragment"> <img alt="Enron Corpus" src="../img/enron-logo.svg" height="200" class="fragment"> <img alt="MTA" src="../img/mta-logo.svg" height="200" class="fragment"> <span class="fragment">APIs</span>
          </li>
          <li class="fragment"><em>{%= important_visualize %}</em></li>
          <li class="fragment">Data-driven journalism
            <ul class="fragment">
              <li><a href="http://www.theguardian.com/news/datablog">The Guardian</a></li>
              <li>The New York Times</li>
              <li><a href="http://nzz.ch/data">Neue Zürcher Zeitung</a></li>
            </ul>
          </li>
        </ul>
      </section>

      <section id="trendy">
        <h2>{%= title_trendy %}</h2>
        <p class="fragment">{%= nothing_new %}</p>
      </section>

      <section id="minard-napoleon" data-background="../img/minard-napoleon.png" data-background-size="contain">
      </section>

      <section id="minard-wine" data-background="../img/minard-wine.jpg" data-background-size="contain">
      </section>

      <section id="nightingale-mortality" data-background="../img/nightingale-mortality.jpg" data-background-size="contain">
      </section>

      <section id="excel" data-background="../img/excel-insert-chart.png" data-background-size="contain">
      </section>

      <section id="notepad" data-background="../img/notepad.jpg" data-background-size="contain">
      </section>

      <section id="pie-charts">
        <h2>{%= title_pie_charts %}</h2>
        <img alt="Camembert" src="../img/pie-chart.png" style="background:white">
      </section>

      <section id="pie-charts-3d">
        <h2>{%= title_pie_charts_3d %}</h2>
        <img alt="Camembert 3D" src="../img/pie-chart-3d.png" style="background:white"><br>
        <img alt="Camembert" src="../img/pie-chart.png" style="background:white" class="fragment">
      </section>

      <section id="choosing-chart" data-background="../img/choosing-a-good-chart.png" data-background-size="contain">
      </section>

      <section id="web">
        <h2>{%= title_web %}</h2>
      </section>

      <section id="world-wide-web">
        <h2>World Wide Web</h2>
        <img alt="Tim Berners-Lee" src="../img/tim-berners-lee.jpg">
      </section>

      <section id="www">
        <img alt="WWW logo" src="../img/www-logo.svg" height="200" style="vertical-align:text-bottom"><ol>
          <li class="fragment">HTTP</li>
          <li class="fragment">URL</li>
          <li class="fragment">HTML</li>
        </ol>
        <p class="fragment">{%= navigate %}</p>
      </section>

      <section id="click-here">
        <h2><a href="http://www.w3.org/QA/Tips/noClickHere" style="text-decoration:underline">click here</a></h2>
        <img alt="Robert Cailliau" src="../img/robert-cailliau.jpg" height="650">
      </section>

      <section id="html-html5">
        <img alt="HTML logo" src="../img/html-logo.svg" height="400"><img alt="HTML5 logo" src="../img/html5-logo.svg" height="400" class="fragment">
      </section>

      <section id="svg-canvas">
        <img alt="SVG logo" src="../img/svg-logo.svg" height="400"><img alt="Canvas logo" src="../img/canvas-logo.png" height="400" style="padding:10px;background:white" class="fragment">
        <br>
        <p class="fragment">{%= vectorial_bitmap %}</p>
        <p class="fragment"><em>{%= retained_immediate %}</em></p>
      </section>

      <section id="retained-immediate">
        <table>
          <thead>
            <tr>
              <th>{%= retained %}</th>
              <th>{%= immediate %}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="fragment">
              <td>{%= retained_model %}</td>
              <td>{%= immediate_model %}</td>
            </tr>
            <tr class="fragment">
              <td>{%= retained_rendering %}</td>
              <td>{%= immediate_rendering %}</td>
            </tr>
            <tr class="fragment">
              <td>{%= retained_events %}</td>
              <td>{%= immediate_events %}</td>
            </tr>
            <tr class="fragment">
              <td>{%= retained_perf %}</td>
              <td>{%= immediate_perf %}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="d3">
        <h2>{%= title_d3 %}</h2>
      </section>

      <section id="popularity">
        <img alt="GitHub most starred repositories" src="../img/github-most-starred-repositories.png" height="650">
        <p><em>{%= date_2013_10_14 %}</em></p>
      </section>

      <section id="mbostock">
        <h2>Mike Bostock</h2>
        <img alt="Mike Bostock serious" src="../img/mbostock-serious.jpg" width="200" height="200"><img alt="Mike Bostock smiling" src="../img/mbostock-smiling.jpg" width="200" height="200" class="fragment"><br><img alt="Stanford University" src="../img/stanford.png" width="200" height="200" class="fragment"><img alt="New York Times" src="../img/nytimes.png" width="200" height="200" class="fragment">
      </section>

      <section id="example">
        <h2>{%= example %}</h2>
      </section>

      <section id="example-data">
        <h2>{%= example_data %}</h2>
        <table class="fragment">
          <thead>
            <tr>
              <th>name</th>
              <th>age</th>
              <th>height</th>
              <th>weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>4</td>
              <td>100</td>
              <td>17</td>
            </tr>
            <tr>
              <td>Bruno</td>
              <td>2</td>
              <td>88</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Charles</td>
              <td>85</td>
              <td>177</td>
              <td>57</td>
            </tr>
            <tr>
              <td>Dédé</td>
              <td>25</td>
              <td>168</td>
              <td>67</td>
            </tr>
            <tr>
              <td>Etienne</td>
              <td>42</td>
              <td>182</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Françoise</td>
              <td>8</td>
              <td>127</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Gégé</td>
              <td>50</td>
              <td>160</td>
              <td>83</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="choosing-chart-bis" data-background="../img/choosing-a-good-chart.png" data-background-size="contain">
      </section>

      <section id="example-visualization">
        <h2>{%= example_visualization %}</h2>
        <ul>
          <li class="fragment">{%= person %} <span class="fragment">&rarr; {%= circle %}</span></li>
          <li class="fragment">{%= age %} <span class="fragment">&rarr; {%= x_axis %}</span></li>
          <li class="fragment">{%= height %} <span class="fragment">&rarr; {%= y_axis %}</span></li>
          <li class="fragment">{%= weight %} <span class="fragment">&rarr; {%= diameter %}</span></li>
        </ul>
        <img alt="Visualization Result" src="../img/visualization-result.svg" class="fragment">
      </section>

      <section id="example-svg">
        <h2>{%= svg_source %}</h2>
        <pre><code class="language-xml" contenteditable="true" data-noescape>&lt;svg width="640" height="480">
<span class="fragment">  &lt;circle cx="24"  cy="280" r="17" opacity=".5"/></span>
<span class="fragment">  &lt;circle cx="12"  cy="304" r="12" opacity=".5"/>
  &lt;circle cx="510" cy="126" r="57" opacity=".5"/>
  &lt;circle cx="150" cy="144" r="67" opacity=".5"/>
  &lt;circle cx="252" cy="116" r="80" opacity=".5"/>
  &lt;circle cx="48"  cy="226" r="25" opacity=".5"/>
  &lt;circle cx="300" cy="160" r="83" opacity=".5"/></span>
&lt;/svg></code></pre>
        <p class="fragment"><em>{%= y_axis_inverted %}</em></p>
      </section>

      <section id="example-html">
        <h2>{%= example_html %}</h2>
        <pre><code class="language-xml" contenteditable="true" data-noescape>&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
  &lt;meta charset="utf-8">
  &lt;title>&lt;/title>
&lt;/head>
&lt;body>

<span class="fragment" data-fragment-index="3">  &lt;div id="placeholder">&lt;/div></span>

<span class="fragment" data-fragment-index="1">  &lt;script src="d3.js">&lt;/script></span>
<span class="fragment" data-fragment-index="2">  &lt;script src="main.js">&lt;/script></span>

&lt;/body>
&lt;/html></code></pre>
      </section>

      <section id="package-managers">
        <h2>Package Managers</h2>
        <p><em>{%= package_managers_available %}</em></p>
        <ul class="no-bullets centered">
          <li><img alt="NPM logo" src="../img/npm-logo.png" height="100"></li>
          <li><img alt="Bower logo" src="../img/bower-logo.png" height="150"></li>
          <li><img alt="Component logo" src="../img/component-logo.png"></li>
          <li><img alt="Jam logo" src="../img/jam-logo.png"></li>
          <li><img alt="Browserify logo" src="../img/browserify-logo.png" height="100"></li>
          <li>CDN</li>
        </ul>
      </section>

      <section id="example-js">
        <h2>{%= example_js %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape>// main.js




// TODO





</code></pre>
      </section>

      <section id="example-data-json">
        <h2>{%= example_data_json %}</h2>
        <pre><code class="language-json" contenteditable="true" data-noescape>[
  {"name": "Alice",     "age":  4, "height": 100, "weight": 17},
  {"name": "Bruno",     "age":  2, "height":  88, "weight": 12},
  {"name": "Charles",   "age": 85, "height": 177, "weight": 57},
  {"name": "Dédé",      "age": 25, "height": 168, "weight": 67},
  {"name": "Etienne",   "age": 42, "height": 182, "weight": 80},
  {"name": "Françoise", "age":  8, "height": 127, "weight": 25},
  {"name": "Gégé",      "age": 50, "height": 160, "weight": 83}
]</code></pre>
        <p class="fragment"><em>{%= data_json_native %}</em></p>
      </section>

      <section id="example-data-csv">
        <h2>{%= example_data_csv %}</h2>
        <pre><code contenteditable="true" data-noescape>name,age,height,weight
Alice,4,100,17
Bruno,2,88,12
Charles,85,177,57
Dédé,25,168,67
Etienne,42,182,80
Françoise,8,127,25
Gégé,50,160,83</code></pre>
        <p class="fragment"><em>{%= data_csv_compact %}</em></p>
      </section>

      <section id="requests">
        <h2>{%= data_retrieval %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape><span class="fragment" data-fragment-index="1">d3.json(<span class="fragment" data-fragment-index="2">'path/to/file.json'</span><span class="fragment" data-fragment-index="3">, function(error, dataset) {
  <span class="fragment" data-fragment-index="4">if (error) return console.warn(error);</span>
  <span class="fragment" data-fragment-index="5">// TODO: Visualize the dataset</span>
}</span>);
</span><span class="fragment" data-fragment-index="6">
d3.csv('path/to/file.csv', function(error, dataset) {
  if (error) return console.warn(error);
  // TODO: Visualize the dataset
});
</span><span class="fragment" data-fragment-index="7">
var visualize = function(error, dataset) {
  if (error) return console.warn(error);
  // TODO: Visualize the dataset
};

d3.csv('path/to/file.csv', visualize);</span></code></pre>
      </section>

      <section id="requests-result">
        <h2>{%= data_retrieval %}</h2>
        <img alt="D3 dataset" src="../img/d3-dataset.png">
      </section>

      <section id="select">
        <h2>{%= selection %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape><span class="fragment">d3.select('body');</span>
<span class="fragment">d3.select('.class');</span>
<span class="fragment">d3.select('#id');</span>
<span class="fragment">d3.select('[color=black]');</span>
<span class="fragment">d3.select('parent child');</span>
<span class="fragment">d3.select('.this.that');</span>
<span class="fragment">d3.select('.this, .that');</span>

<span class="fragment">var placeholder = d3.select('#placeholder');</span></code></pre>
        <p class="fragment"><em>{%= include_sizzle %}</em></p>
      </section>

      <section id="selectall">
        <h2>{%= selection %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape>d3.selectAll('body');
d3.selectAll('.class');
d3.selectAll('#id'); // FIXME: Non-unique IDs?
d3.selectAll('[color=black]');
d3.selectAll('parent child');
d3.selectAll('.this.that');
d3.selectAll('.this, .that');

var placeholders = d3.selectAll('.placeholder');</code></pre>
        <p><em>{%= include_sizzle %}</em></p>
      </section>

      <section id="operations">
        <h2>{%= operations_on_selections %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape><span class="fragment">var imgs = d3.selectAll('img')
</span><span class="fragment">             .attr('title', 'Tooltips for everyone!');
</span><span class="fragment">
var h2s = d3.selectAll('h2')
            .style('font-style', 'italic')
</span><span class="fragment">            .style('font-weight', 'bold');
</span><span class="fragment">
var ps = d3.selectAll('p')
           .text('pwned');
</span><span class="fragment">
var pz = d3.selectAll('p')
           .html('&lt;blink>pwned&lt;/blink>');
</span><span class="fragment">
var svg = d3.select('#placeholder')
            .append('svg')
</span><span class="fragment">              .attr('width',  640)
              .attr('height', 480);</span></code></pre>
        <p class="fragment"><em>{%= fluent_interface %}</em></p>
        <p class="fragment"><em>{%= strings_limitations %}</em></p>
        <p class="fragment"><em>{%= new_selection %}</em></p>
      </section>

      <section id="example-js-back">
        <h2>{%= example_back %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape><span class="fragment" data-fragment-index="1">var svg = d3.select('#placeholder')
            .append('svg')
              .attr('width',  640)
              .attr('height', 480);
</span><span class="fragment" data-fragment-index="3">
var visualize = function(error, dataset) {
  if (error) return console.warn(error);
  // TODO: Visualize the dataset
};
</span><span class="fragment" data-fragment-index="2">
d3.csv('path/to/file.csv', visualize);</span></code></pre>
      </section>

      <section id="example-loop">
        <h2>{%= visualization %}</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape>var visualize = function(error, dataset) {
  if (error) return console.warn(error);
<span class="fragment">
  for (var i = 0; i &lt; dataset.length; i++) {
<span class="fragment">    var person = dataset[i];
<span class="fragment">    svg.append('circle')</span>
<span class="fragment">      .attr('opacity', 0.5)</span>
<span class="fragment">      .attr('r', person.weight)</span>
<span class="fragment">      .attr('cx', person.age * 6) // 100 years old * 6 ~= 640</span>
<span class="fragment">      .attr('cy', 480 - person.height * 2); // 200 cm high * 2 ~= 480</span></span>
  }</span>
};</code></pre>
      </section>

      <section id="example-loop-result">
        <h2>{%= result %}</h2>
        <img alt="Visualization Result" src="../img/visualization-result.svg">
        <p class="fragment"><em>{%= the_end %}<span class="fragment">?</span></em></p>
      </section>

      <section id="example-data-extra">
        <h2>{%= example_data %}... <span class="fragment" data-fragment-index="1">{%= extra %}</span></h2>
        <table class="small-text" style="display: inline-table">
          <thead>
            <tr>
              <th>name</th>
              <th>age</th>
              <th>height</th>
              <th>weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>4</td>
              <td>100</td>
              <td>17</td>
            </tr>
            <tr>
              <td>Bruno</td>
              <td>2</td>
              <td>88</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Charles</td>
              <td>85</td>
              <td>177</td>
              <td>57</td>
            </tr>
            <tr>
              <td>Dédé</td>
              <td>25</td>
              <td>168</td>
              <td>67</td>
            </tr>
            <tr>
              <td>Etienne</td>
              <td>42</td>
              <td>182</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Françoise</td>
              <td>8</td>
              <td>127</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Gégé</td>
              <td>50</td>
              <td>160</td>
              <td>83</td>
            </tr>
          </tbody>
        </table>&nbsp;<table class="small-text fragment" data-fragment-index="1" style="display: inline-table">
          <thead>
            <tr>
              <th>name</th>
              <th>age</th>
              <th>height</th>
              <th>weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>9</td>
              <td>140</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Bruno</td>
              <td>7</td>
              <td>110</td>
              <td>22</td>
            </tr>
            <tr>
              <td>Dédé</td>
              <td>30</td>
              <td>172</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Etienne</td>
              <td>47</td>
              <td>182</td>
              <td>70</td>
            </tr>
            <tr>
              <td>Zoé</td>
              <td>2</td>
              <td>84</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Françoise</td>
              <td>13</td>
              <td>141</td>
              <td>42</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="example-loop-remove">
        <h2>{%= visualization %} v1.1</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape><span class="fragment" data-fragment-index="3">var visualize = function(error, dataset) {
  if (error) return console.warn(error);
<span class="fragment" data-fragment-index="4">
  svg.selectAll('circle').remove();
</span>
  for (var i = 0; i &lt; dataset.length; i++) {
    var person = dataset[i];
    svg.append('circle')
    // ...
  }
};
</span><span class="fragment" data-fragment-index="1">
d3.csv('path/to/dataset-2000.csv', visualize);
</span><span class="fragment" data-fragment-index="2">
// Called later...
d3.csv('path/to/dataset-2005.csv', visualize);</span></code></pre>
        <p class="fragment" data-fragment-index="5"><em>{%= selection_of_selection %}</em> <code>d3.select('svg').selectAll('circle')</code></p>
      </section>

      <section id="example-loop-remove-result">
        <h2>{%= result %} v1.1</h2>
        <p class="placeholder"></p>
        <span class="fragment"></span>
        <p class="fragment"><em>{%= no_animation %}</em></p>
      </section>

      <section id="example-loop-discard">
        <h2>{%= discard %}</h2>
      </section>

      <section id="example-bind-todo">
        <h2>TODO v2.0</h2>
        <ol>
          <li class="fragment">{%= keep_circles %}</li>
          <li class="fragment">{%= transitions %}</li>
          <li class="fragment">{%= enter_exit %}</li>
        </ol>
      </section>

      <section id="binding">
        <h2>Binding</h2>
        <p>aka Join</p>
      </section>

      <section id="joins">
        <h2>Thinking with Joins</h2>
        <img alt="Thinking with Joins" src="../img/thinking-with-joins.svg" style="background:white;padding-top:20px;padding-bottom:20px">
      </section>

      <section id="example-bind-1">
        <h2>{%= visualization %} v2.0</h2>
        <pre><code class="language-javascript stretch" contenteditable="true" data-noescape>var visualize = function(error, dataset) {
  if (error) return console.warn(error);
<span class="fragment" data-fragment-index="1">
  var circles = svg
    .selectAll('circle')
</span><span class="fragment" data-fragment-index="3">    // The unique key is the name.</span>
<span class="fragment" data-fragment-index="2">    .data(dataset<span class="fragment" data-fragment-index="3">, function(d) { return d.name; }</span>);</span>
<span class="fragment" data-fragment-index="4">
  // UPDATE
  circles
    //...
</span><span class="fragment" data-fragment-index="5">
  // ENTER
  circles
    .enter()
    //...
</span><span class="fragment" data-fragment-index="6">
  // EXIT
  circles
    .exit()
    //...</span>
};</code></pre>
      </section>

      <section id="parentnode">
        <h2>parentNode</h2>
        <div class="img-container" style="width: 547px; height: 265px;">
          <img alt="Selection body" src="../img/selection-body.png" class="fragment">
          <img alt="Selection body nothing" src="../img/selection-body-nothing.png" class="fragment">
        </div>
      </section>

      <section id="example-bind-2">
        <h2>{%= visualization %} v2.0</h2>
        <pre><code class="language-javascript stretch" contenteditable="true" data-noescape>// UPDATE
circles
<span class="fragment" data-fragment-index="3">  .transition().duration(750)
  .call(positionAndSizeCircle);
</span>
// ENTER
circles
  .enter()<span class="fragment" data-fragment-index="4">
  .append('circle')
  .style('opacity', 0)
  .call(positionAndSizeCircle)
<span class="fragment" data-fragment-index="3">  .transition().duration(750)
  .style('opacity', 0.5);</span>
</span>
// EXIT
circles
  .exit()<span class="fragment" data-fragment-index="2">
  .transition().duration(750)
  .style('opacity', 0)</span><span class="fragment" data-fragment-index="1">
  .remove();</span></code></pre>
      </section>

      <section id="example-bind-3">
        <h2>{%= visualization %} v2.0</h2>
        <pre><code class="language-javascript" contenteditable="true" data-noescape>var positionAndSizeCircle = function(circle) {
  circle
    .attr('r', function(d) {
      return d.weight;
    })
    .attr('cx', function(d) {
      return d.age * 6; // 100 years old * 6 ~= 640
    })
    .attr('cy', function(d) {
      return 480 - d.height * 2; // 200 cm high * 2 ~= 480
    });
};</code></pre>
        <p class="fragment"><em>Sticky data: <code>__data__</code></em></p>
      </section>

      <section id="example-bind-result">
        <h2>{%= result %} v2.0</h2>
        <p class="placeholder"></p>
        <span class="fragment"></span>
      </section>

      <section id="remaining">
        <h2>{%= remaining %}</h2>
        <ul>
          <li class="fragment">Scales (domain, range)</li>
          <li class="fragment">Axes</li>
          <li class="fragment">Interactions</li>
          <li class="fragment">...</li>
        </ul>
      </section>

      <section id="advanced-examples">
        <h2>{%= advanced_examples %}</h2>
        <ul>
          <li><a href="http://bl.ocks.org/mbostock/929623">Build Your Own Graph!</a></li>
          <li><a href="http://bl.ocks.org/mbostock/3231298">Collision Detection</a></li>
          <li><a href="http://bost.ocks.org/mike/sankey/">Sankey Diagram</a></li>
          <li><a href="http://www.nytimes.com/interactive/2012/11/02/us/politics/paths-to-the-white-house.html">512 Paths to the White House</a></li>
        </ul>
      </section>

      <section id="books">
        <h2>{%= books %}</h2>
        <img alt="Getting Started with D3" src="../img/oreilly-getting-started-with-d3.jpg" height="400" class="fragment">&nbsp;<img alt="Interactive Data Visualization" src="../img/oreilly-interactive-data-visualization.jpg" height="400" class="fragment">
      </section>

      <section id="conclusion">
        <h2>Conclusion</h2>
        <ul>
          <li class="fragment">{%= technology_choice %}</li>
          <li class="fragment">{%= reflexion %}</li>
          <li class="fragment">{%= trial_error %}</li>
          <li class="fragment">{%= meticulousness %}</li>
        </ul>
      </section>

      <section id="credits">
        <h2>{%= credits %}</h2>
        <p>{%= presentation_created_with %}</p>
        <p><em>{%= some_code %}</em></p>
        <ul class="small-text no-bullets credits">
          <li><a href="http://d3js.org/">D3.js</a> <span class="author">{%= by %} <a href="http://bost.ocks.org/mike/">Mike Bostock</a> (BSD 3-Clause)</span></li>
          <li><a href="http://lab.hakim.se/reveal-js/">Reveal.js</a> <span class="author">{%= by %} <a href="http://hakim.se/">Hakim El Hattab</a> (MIT)</span></li>
          <li><a href="http://softwaremaniacs.org/soft/highlight/en/">Highlight.js</a> <span class="author">{%= by %} <a href="http://softwaremaniacs.org/about/en/">Ivan Sagalaev</a> (BSD 3-Clause)</span></li>
          <li><a href="http://bower.io/">Bower</a> <span class="author">{%= by %} <a href="http://twitter.com/about">Twitter, Inc.</a> (MIT)</span></li>
          <li><a href="http://gruntjs.com/">Grunt</a> <span class="author">{%= by %} <a href="http://benalman.com/">Ben Alman</a> (MIT)</span></li>
        </ul>
        <p><em>{%= some_fonts %}</em></p>
        <ul class="small-text no-bullets credits">
          <li><a href="http://www.google.com/fonts/specimen/Droid+Serif">Droid Serif</a> <span class="author">{%= by %} <a href="http://www.ascendercorp.com/about/steve-matteson/">Steve Matteson / Ascender Corporation</a> (Apache)</span></li>
          <li><a href="http://www.google.com/fonts/specimen/Open+Sans">Open Sans</a> <span class="author">{%= by %} <a href="http://www.ascendercorp.com/about/steve-matteson/">Steve Matteson / Ascender Corporation</a> (Apache)</span></li>
          <li><a href="http://www.google.com/fonts/specimen/Source+Code+Pro">Source Code Pro</a> <span class="author">{%= by %} <a href="http://www.adobe.com/products/type/font-designers/paul-hunt.html">Paul D. Hunt / Adobe Systems, Inc.</a> (SIL)</span></li>
        </ul>
        <p><em>{%= some_pixels %}</em></p>
        <ul class="small-text no-bullets credits">
          <li><a href="http://www.iconarchive.com/show/cheese-icons-by-snaky-reports/Supreme-icon.html">Camembert favicon</a> <span class="author">{%= by %} <a href="http://www.iconarchive.com/artist/snaky-reports.html">Meramera</a> (non-commercial)</span></li>
          <li><a href="http://subtlepatterns.com/cartographer/">Cartographer pattern</a> <span class="author">{%= by %} <a href="http://sam.feyaerts.me/">Sam Feyaerts</a> (CC BY-SA 3.0)</span></li>
        </ul>
      </section>

      <section id="image-credits">
        <h2>{%= image_credits %}</h2>
        <div>
          <ul class="extra-small-text no-bullets image-credits">
            <li><a href="http://en.wikipedia.org/wiki/File:Camembert_(Cheese).jpg"><img alt="Camembert" src="../img/camembert.jpg"></a> {%= by %} <a href="http://fr.wikipedia.org/wiki/Utilisateur:Nataraja">Nataraja</a> (CC BY-SA 3.0)</li>
            <li><a href="http://en.wikipedia.org/wiki/File:Ecole-Ing%C3%A9nieurs-Gen%C3%A8ve.jpg"><img alt="Ecole d'Ingénieurs de Genève" src="../img/ecole-d-ingenieurs-de-geneve.jpg"></a> {%= by %} <a href="http://fr.wikipedia.org/wiki/Utilisateur:Flo">Flo</a> (CC BY-SA-2.5)</li>
            <li><a href="http://en.wikipedia.org/wiki/File:CERN_Tram,_line_number_18.jpg"><img alt="CERN" src="../img/cern.jpg"></a> {%= by %} <a href="http://en.wikipedia.org/wiki/User:Darkzink">Darkzink</a> (CC0 1.0)</li>
            <li><a href="http://en.wikipedia.org/wiki/File:Minard.png"><img alt="Minard's flow map of Napoleon's March" src="../img/minard-napoleon.png"></a> © 1869 <a href="http://en.wikipedia.org/wiki/Charles_Joseph_Minard">Charles Joseph Minard</a></li>
            <li><a href="http://en.wikipedia.org/wiki/File:Minard%E2%80%99s_map_of_French_wine_exports_for_1864.jpg"><img alt="Minard’s map of French wine exports for 1864" src="../img/minard-wine.jpg"></a> © 1865 <a href="http://en.wikipedia.org/wiki/Charles_Joseph_Minard">Charles Joseph Minard</a></li>
            <li><a href="http://en.wikipedia.org/wiki/File:Nightingale-mortality.jpg"><img alt="Nightingale's diagram of the causes of mortality in the army in the East" src="../img/nightingale-mortality.jpg"></a> © 1858 <a href="http://en.wikipedia.org/wiki/Florence_Nightingale">Florence Nightingale</a></li>
            <li><img alt="Microsoft Excel Insert Chart" src="../img/excel-insert-chart.png"> {%= used_permission %} <a href="http://www.microsoft.com/permission">Microsoft</a></li>
            <li><a href="http://www.flickr.com/photos/stml/3258048494/"><img alt="Notepad" src="../img/notepad.jpg"></a> {%= by %} <a href="http://www.flickr.com/people/stml/">STML</a> (CC BY-NC-ND 2.0)</li>
          </ul>
        </div>
        <div>
          <ul class="extra-small-text no-bullets image-credits">
            <li><a href="http://en.wikipedia.org/wiki/File:Sample_Pie_Chart.png"><img alt="Camembert" src="../img/pie-chart.png" style="background:white"></a> {%= by %} <a href="http://en.wikipedia.org/wiki/User:Smallman12q">Smallman12q</a> (CC0 1.0)</li>
            <li><a href="http://en.wikipedia.org/wiki/File:Misleading_Pie_Chart.png"><img alt="Camembert 3D" src="../img/pie-chart-3d.png" style="background:white"></a> {%= by %} <a href="http://en.wikipedia.org/wiki/User:Smallman12q">Smallman12q</a> (CC0 1.0)</li>
            <li><a href="http://extremepresentation.typepad.com/files/choosing-a-good-chart-09.pdf"><img alt="Choosing a good chart" src="../img/choosing-a-good-chart.png"></a> © 2009 <a href="http://www.extremepresentation.com/">Andrew Abela</a></li>
            <li><a href="http://cds.cern.ch/record/39437"><img alt="Tim Berners-Lee" src="../img/tim-berners-lee.jpg"></a> © 1994 <a href="http://copyright.web.cern.ch/">CERN</a></li>
            <li><a href="http://cds.cern.ch/record/39587"><img alt="Robert Cailliau" src="../img/robert-cailliau.jpg"></a> © 1995 <a href="http://copyright.web.cern.ch/">CERN</a></li>
            <li><a href="http://bost.ocks.org/mike/join/"><img alt="Thinking with Joins" src="../img/thinking-with-joins.svg" style="background:white;padding-top:10px;padding-bottom:10px"></a> © 2012 <a href="http://bost.ocks.org/mike/">Mike Bostock</a></li>
          </ul>
        </div>
      </section>

      <section id="thanks" class="title-slide" data-background="../img/camembert.jpg">
        <div class="container">
          <h1 class="fragment" data-fragment-index="1">{%= thanks %}</h1>
          <hr class="fragment" data-fragment-index="1">
          <p>
            Slides: <a href="http://ptamarit.com/slides-data-viz-web-d3/">ptamarit.com/slides-data-viz-web-d3</a><br>
            Sources: <a href="http://github.com/ptamarit/slides-data-viz-web-d3/">github.com/ptamarit/slides-data-viz-web-d3</a>
          </p>
          <hr class="fragment" data-fragment-index="1">
          <p class="fragment" data-fragment-index="1">
            <small>Pablo Tamarit · <a href="http://twitter.com/ptamarit">@ptamarit</a></small>
          </p>
        </div>
      </section>

    </div>
  </div>

  <!-- build:js ../js/o.js -->
  <!-- REVEAL -->
  <script src="../bower_components/reveal.js/lib/js/head.min.js"></script>
  <script src="../bower_components/reveal.js/js/reveal.js"></script>

  <!-- D3 -->
  <script src="../bower_components/d3/d3.js"></script>
  <script src="../examples/js/common.js"></script>
  <script src="../examples/js/example-loop.js"></script>
  <script src="../examples/js/example-bind.js"></script>

  <!-- REVEAL TO D3 -->
  <script src="../js/reveal-to-d3-config.js"></script>
  <script src="../js/reveal-to-d3.js"></script>

  <!-- REVEAL INIT -->
  <script src="../js/reveal-init.js"></script>

  <!-- GLOBAL INIT -->
  <script src="../js/lang-switcher.js"></script>

  <!-- endbuild -->

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45268856-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
